<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.yunyou"
    android:versionCode="127"
    android:versionName="1.2.7" >

    <uses-sdk android:minSdkVersion="10" 
         android:targetSdkVersion="15"/>
    
	<!-- ************************************* -->
	<!--      定位相关权限      -->
	<!-- ************************************* -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> 
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-permission android:name="android.permission.VIBRATE"/>
  	<uses-permission android:name="android.permission.FLASHLIGHT"/>
<!-- 	<support-screens  -->
<!--     android:smallScreens="false"  -->
<!--     android:normalScreens="false"  -->
<!--     android:largeScreens="false"  -->
<!--     android:xlargeScreens="false"  -->
<!--     android:anyDensity="false"/> -->
	
	
	
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:theme="@style/Theme.Sherlock"
        android:name=".YunyouApplication" >
        
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ebf5e6dcfd1078dd6cfe7ae90ed6d896" />
        
        <meta-data android:name="TD_APP_ID" android:value="EFDA5AD7E2B11944ED022DD5871CF1AA" /> 
        <meta-data android:name="TD_CHANNEL_ID" android:value="91.com" />
        
        <activity android:name="com.mobile.yunyou.bike.tmp.PullToRefreshListActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar">  	    
<!--        	     <intent-filter >     -->
<!--                  <action android:name="android.intent.action.MAIN" />   -->
<!--                    <category android:name="android.intent.category.LAUNCHER" />   -->
<!--              </intent-filter>    -->
     	</activity> 
      
       <activity android:name="com.mobile.yunyou.bike.RunRecordActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar"
					android:screenOrientation="portrait"  	>    
<!--        	     <intent-filter >    -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>   -->
     	</activity> 
     	
       <activity android:name="com.mobile.yunyou.bike.RecordMapActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar"
             	  android:screenOrientation="portrait">  	    
<!--        	     <intent-filter >    -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>   -->
     	</activity> 
     	
       
     	<activity android:name="com.mobile.yunyou.bike.MoGuActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar"
             	  android:screenOrientation="portrait">  	    
<!--        	     <intent-filter >    -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>   -->
     	</activity> 
     	
               
       <activity android:name="com.mobile.yunyou.bike.tmp.TestGpsActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar">  	    
<!--        	     <intent-filter >     -->
<!--                  <action android:name="android.intent.action.MAIN" />   -->
<!--                    <category android:name="android.intent.category.LAUNCHER" />   -->
<!--              </intent-filter>    -->
     	</activity> 
     	
         <activity android:name="com.mobile.yunyou.bike.tmp.TestLocationActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar"
             	  android:screenOrientation="portrait">  	    
<!--        	     <intent-filter >    -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>   -->
     	</activity> 

              <activity android:name="com.mobile.yunyou.bike.tmp.OfflineMapActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar"
             	  android:screenOrientation="portrait">  	    
<!--        	     <intent-filter >    -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>   -->
     	</activity> 
     	
              
     	
       
       
        <activity android:name="com.mobile.yunyou.TestActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar">  	    
<!--        	     <intent-filter >    -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>   -->
     	</activity> 
     	
        <activity android:name="com.mobile.yunyou.zxin.CaptureActivity"  
             	 	android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
					android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
					android:windowSoftInputMode="stateAlwaysHidden">	    
     	</activity> 
     	
        
     	
        <activity android:name="com.mobile.yunyou.bike.tmp.NewBikeExActivity" 
     	  android:theme="@android:style/Theme.NoTitleBar"
     	  android:screenOrientation="portrait">     
     	     
<!--      	  	 <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>    -->
             
         </activity>
         
        
        <activity android:name="com.mobile.yunyou.bike.FollowBikeActivity" 
     	  android:theme="@android:style/Theme.NoTitleBar"
     	  android:screenOrientation="portrait">     
     	     
<!--      	  	 <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>    -->
             
         </activity>
         
        
     	
              	
        <activity
            android:name="com.mobile.yunyou.activity.MainSlideActivity"
            android:screenOrientation="portrait">
<!--           <intent-filter > -->
<!--               <action android:name="android.intent.action.MAIN" /> -->
<!--               <category android:name="android.intent.category.LAUNCHER" /> -->
<!--           </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.mobile.yunyou.activity.MainExActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
<!--           <intent-filter > -->
<!--               <action android:name="android.intent.action.MAIN" /> -->
<!--               <category android:name="android.intent.category.LAUNCHER" /> -->
<!--           </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.mobile.yunyou.activity.ForgetPwdActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
<!--           <intent-filter > -->
<!--               <action android:name="android.intent.action.MAIN" /> -->
<!--               <category android:name="android.intent.category.LAUNCHER" /> -->
<!--           </intent-filter> -->
        </activity>
        
                
        <activity
            android:name="com.mobile.yunyou.activity.WelcomeActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
<!--           <intent-filter > -->
<!--               <action android:name="android.intent.action.MAIN" /> -->
<!--               <category android:name="android.intent.category.LAUNCHER" /> -->
<!--           </intent-filter> -->
        </activity>
        
        
        <activity
            android:name="com.mobile.yunyou.activity.LoginActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
<!--             android:windowSoftInputMode="stateVisible"> -->
		           <intent-filter >
		               <action android:name="android.intent.action.MAIN" />
		               <category android:name="android.intent.category.LAUNCHER" />
		           </intent-filter>
        </activity>
        
        
        <activity
            android:name="com.mobile.yunyou.activity.RegisterActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible"
            android:screenOrientation="portrait">
            
<!--             		  <intent-filter > -->
<!-- 		               	<action android:name="android.intent.action.MAIN" /> -->
<!-- 		               	<category android:name="android.intent.category.LAUNCHER" /> -->
<!-- 		              </intent-filter> -->
            
        </activity>
        
<!--                           android:windowSoftInputMode="stateVisible|adjustPan" -->

         <activity 
                android:name="com.mobile.yunyou.activity.MainActivity" 
                android:theme="@android:style/Theme.NoTitleBar"
                android:launchMode="singleTask">

<!--              <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
        </activity>
        
        <activity android:name="com.mobile.yunyou.map.MapABCActivity" >
<!--               <intent-filter >   -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>   -->
        </activity>
        
        <activity android:name="com.mobile.yunyou.device.DeviceSetActivity"
            		android:theme="@android:style/Theme.NoTitleBar">
<!--               <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
        </activity>
        
        <activity android:name="com.mobile.yunyou.friend.FriendActivity">
<!--            <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
            
        </activity>
        
        <activity android:name="com.mobile.yunyou.msg.MessageActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
<!--              <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
        </activity>  
        
        <activity android:name="com.mobile.yunyou.msg.MessageExActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
<!--              <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
        </activity>  
            
        
        <activity android:name="com.mobile.yunyou.msg.MsgDeleteActivity" 
             android:theme="@android:style/Theme.NoTitleBar">
<!--              <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
        </activity>  
        
<!--         <activity android:name="com.mobile.yunyou.set.SettingActivity"  -->
<!--               android:theme="@android:style/Theme.NoTitleBar"> -->
            
<!--                <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
            
<!--         </activity> -->
        
        <activity android:name="com.mobile.yunyou.set.SettingExActivity" 
              android:theme="@android:style/Theme.NoTitleBar"
              android:screenOrientation="portrait">
            
<!--                <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
            
        </activity>
        
        <activity android:name="com.mobile.yunyou.set.QueryMealActivity" >
            
<!--                <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
            
        </activity>
        
        
        <activity android:name="com.mobile.yunyou.bike.WarningActivity" 
     	  android:theme="@android:style/Theme.NoTitleBar"
     	  android:screenOrientation="portrait">
<!--              <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
        </activity>
                 
         <activity android:name="com.mobile.yunyou.bike.RunLRecordActivity" 
     	  android:theme="@android:style/Theme.NoTitleBar"
     	  android:screenOrientation="portrait">
             
<!-- 			<intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>              -->
             
         </activity>
         
         <activity android:name="com.mobile.yunyou.bike.NewBikeActivity" 
     	  android:theme="@android:style/Theme.NoTitleBar">     
     	     
<!--      	  	 <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>              -->
             
         </activity>
         
          <activity android:name="com.mobile.yunyou.bike.SafeActivity" 
     	  android:theme="@android:style/Theme.NoTitleBar"
     	  android:screenOrientation="portrait">
              
<!--             <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
             
          </activity>
                  
        
        <activity android:name="com.mobile.yunyou.set.SetPersonActivity" 
     	  android:theme="@android:style/Theme.NoTitleBar"
     	  android:screenOrientation="portrait"/>
           
         <activity android:name="com.mobile.yunyou.set.SetPersonCommentActivity" 
     	  android:theme="@android:style/Theme.NoTitleBar"
     	  android:screenOrientation="portrait"/>
                
                
        <activity android:name="com.mobile.yunyou.set.SetWarnActivity" 
			android:theme="@android:style/Theme.NoTitleBar"
			android:screenOrientation="portrait"/>
        
         <activity android:name="com.mobile.yunyou.set.RechargeActivity" 
			android:theme="@android:style/Theme.NoTitleBar"/>
         
        <activity android:name="com.mobile.yunyou.set.SetQueryBalanceActivity" 
			android:theme="@android:style/Theme.NoTitleBar">
			
<!--              <intent-filter >  -->
<!--                  <action android:name="android.intent.action.MAIN" />  -->
<!--                  <category android:name="android.intent.category.LAUNCHER" />  -->
<!--              </intent-filter>  -->
             
        </activity>
        
         <activity android:name="com.mobile.yunyou.set.SetRechargeNowActivity" 
			android:theme="@android:style/Theme.NoTitleBar"/>
         
         <activity android:name="com.mobile.yunyou.set.SetRechargeRecordActivity" 
			android:theme="@android:style/Theme.NoTitleBar"/>
        
         
         
         <activity android:name="com.mobile.yunyou.set.ChangePwdActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar"
             	  android:screenOrientation="portrait"/>
         
         
         <activity android:name="com.mobile.yunyou.set.ChangeDevicePwdActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar"
             	  android:screenOrientation="portrait"/>
                  
         
         
         
        <activity android:name="com.mobile.yunyou.set.AboutActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar"
             	  android:screenOrientation="portrait"/>

        
        <activity android:name="com.mobile.yunyou.device.KeySettingActivity" 
        	  android:theme="@android:style/Theme.NoTitleBar">
            
<!--               <intent-filter >   -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>  -->
               
        </activity>
        
        <activity android:name="com.mobile.yunyou.device.WhiteListActivity" 
        	  android:theme="@android:style/Theme.NoTitleBar"
        	  android:windowSoftInputMode="adjustPan">"
            
<!--                <intent-filter >   -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>  -->
              
        </activity>
        
        <activity android:name="com.mobile.yunyou.device.AlarmClockActivity" 
        	  android:theme="@android:style/Theme.NoTitleBar">
        	  
<!--                <intent-filter >    -->
<!--                    <action android:name="android.intent.action.MAIN" />    -->
<!--                    <category android:name="android.intent.category.LAUNCHER" />    -->
<!--                </intent-filter>    -->

        </activity>
        
        <activity android:name="com.mobile.yunyou.device.SetClockActivity" 
        	  android:theme="@android:style/Theme.NoTitleBar">
            
<!--               <intent-filter >   -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>   -->
        </activity>
        
        
        <activity android:name="com.mobile.yunyou.device.GuardTimeActivity" 
        	  android:theme="@android:style/Theme.NoTitleBar">
                    
<!--               <intent-filter >   -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>   -->
        </activity>
        
        
        <activity android:name="com.mobile.yunyou.device.SetGuardTimeActivity" 
        	  android:theme="@android:style/Theme.NoTitleBar"/>
        
            
        <activity android:name="com.mobile.yunyou.device.SimpleDevSetActivity" 
        	  android:theme="@android:style/Theme.NoTitleBar"
        	   android:windowSoftInputMode="stateVisible">
        </activity>
        
        <activity android:name="com.mobile.yunyou.device.LowPowerWarnActivity" 
        	  android:theme="@android:style/Theme.NoTitleBar">
		           
<!--              <intent-filter >   -->
<!--                   <action android:name="android.intent.action.MAIN" />   -->
<!--                   <category android:name="android.intent.category.LAUNCHER" />   -->
<!--               </intent-filter>  -->
              
        </activity>
      
        
        
        

      	
      	
      	       
      	<activity android:name="com.mobile.yunyou.TestDeviceAreaActivity" 
             	  android:theme="@android:style/Theme.NoTitleBar">
      	    
<!--       	    	<intent-filter > -->
<!-- 		               <action android:name="android.intent.action.MAIN" /> -->
<!-- 		               <category android:name="android.intent.category.LAUNCHER" /> -->
<!-- 		           </intent-filter> -->
      	</activity>
      	
      	  <service android:name="com.mobile.yunyou.service.YunyouService">  </service>  
      	
        
    </application>

</manifest>